.rbc-calendar {
    height: 100vh !important;
}

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
}

.fab-danger {
    bottom: 25px;
    position: fixed;
    left: 25px;
    padding: 10px;
}